.btn_number_main_div {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 810px;
}

.btn_number {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 75px;
  height: 75px;
  margin: 5px;

  border-radius: 80%;
  font-size: 30px;
  font-weight: 800;
}

.btn_number:hover {
  cursor: pointer;
}

.odd {
  background-color: #bd6f32;
  color: rgb(106, 2, 103);
  border: 10px solid rgb(106, 2, 103);
}

.even {
  background-color: #edbc5f;
  color: red;
  border: 10px solid red;
}

.btn_h1 {
  margin-top: 20px;
  text-align: center;
}

.btn_start {
  margin: 10px;
  color: black;
  background-color: aqua;
  border: 11px solid aqua;
  cursor: pointer;
}

.btn_start:hover {
  background-color: rgb(163, 255, 255);
  border: 11px solid rgb(163, 255, 255);
}

.btn_restart {
  color: white;
  background-color: darkblue;
  border: 1px solid darkblue;
  padding: 11px 6.7px;
  cursor: pointer;
}

.btn_restart:hover {
  background-color: rgb(106, 106, 255);
  border: 1px solid rgb(106, 106, 255);
}

.win_h1,
.win_h3 {
  color: green;
}

.lose_h1 {
  color: red;
}

.win_number_block {
  display: inline-block;
  align-items: center;

  width: 75px;
  height: 75px;
  font-size: 30px;
  font-weight: 800;
  border-radius: 80%;
  border: 10px solid green;
  color: green;
}

.win_number {
  display: none;

  width: 75px;
  height: 75px;
  font-size: 30px;
  font-weight: 800;
  border-radius: 80%;
  border: 10px solid green;
  color: green;
}

.choiseText {
  display: none;
  margin-top: 10px;
}

.choiseNumb {
  display: inline-block;
  margin-top: -20px;
}

.win {
  display: none;
}

